:root {
  --tec-color-text-primary: #434441;
  --tec-color-icon-focus: #faaa44;
  --tec-color-icon-error: #faaa44;
  --tec-color-event-icon: #434441;
  --tec-color-event-icon-hover: #4dcfe8;
  --tec-color-accent-primary: #faaa44;
  --tec-color-accent-primary-hover: #4dcfe8;
  --tec-color-accent-primary-active: #faaa44;
  --tec-color-accent-primary-background: #434441;
  --tec-color-accent-secondary: #faaa44;
  --tec-color-link-accent: #f04f3d;
  --tec-color-link-accent-hover: #b91f0e;
  --tec-color-button-primary: #434441;
  --tec-color-background-events-bar-submit-button: #faaa44;
  --tec-color-background-events-bar-submit-button-hover: #eb8706;
}

/* classes for the login page */
.login {
  height: calc(100vh-50px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.insideContainer {
  width:60%;
  height:75%;
  display: flex;
  align-items: center;
  border-radius: 10px;
-webkit-box-shadow: 14px 11px 12px 7px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 11px 12px 7px rgba(0,0,0,0.75);
box-shadow: 14px 11px 12px 7px rgba(0,0,0,0.75);
}

.leftContainer, .rightContainer {
  flex-wrap: 1;
}

.rightContainer{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.titleLogin {
  font-size: 20px;
  font-weight: bolder;
  margin: 20px;
}

.inputLogin {
  margin:10px;
}

.submitLogin {
  border: #434441 solid 2px;
  background-color: #f04f3d;
  color: #4dcfe8;
  width: 70%;
}




.loginImage{
  height: calc(vh-50px);
  width: 70%;
}

.navbar {
  height: 50px;
  width: 100vw;
  background-color:var(--tec-color-accent-primary);
  color:var(--tec-color-text-primary);
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.welcome {
  font-weight: bolder;
  margin-left: 20px;
  cursor:pointer;
  font-size: 16px;
  color: #4dcfe8;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.navItem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}



.userPicture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.myImage {
  width:auto;
  height: 20vh;
}

